@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "bevietnam-regular";
  font-style: normal;
  font-swap: swap;
  src: url("../fonts/be-vietnam-v2-latin-regular.ttf");
  src: url("../fonts/be-vietnam-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/be-vietnam-v2-latin-regular.woff2") format("woff2"),
    url("../fonts/be-vietnam-v2-latin-regular.woff") format("woff"),
    url("../fonts/be-vietnam-v2-latin-regular.ttf") format("truetype"),
    url("../fonts/be-vietnam-v2-latin-regular.svg#BeVietnam") format("svg");
}

@font-face {
  font-family: "bevietnam-bold";
  font-style: normal;
  src: url("../fonts/be-vietnam-v2-latin-700.ttf");
  src: url("../fonts/be-vietnam-v2-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/be-vietnam-v2-latin-700.woff2") format("woff2"),
    url("../fonts/be-vietnam-v2-latin-700.woff") format("woff"),
    url("../fonts/be-vietnam-v2-latin-700.ttf") format("truetype"),
    url("../fonts/be-vietnam-v2-latin-700.svg#BeVietnam") format("svg");
}

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gotham-book.woff2") format("woff2"),
    url("../fonts/gotham-book.woff") format("woff"),
    url("../fonts/gotham-book.ttf") format("truetype"),
    url("../fonts/gotham-book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "exodus-regular";
  src: url("../fonts/exodusDemo-sa.eot");
  src: url("../fonts/exodusDemo-sa.eot?#iefix") format("embedded-opentype"),
    url("../fonts/exodusDemo-sa.woff2") format("woff2"),
    url("../fonts/exodusDemo-sa.woff") format("woff"),
    url("../fonts/exodusDemo-sa.ttf") format("truetype"),
    url("../fonts/exodusDemo-sa.svg#ExodusDemo-Sa") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "myriad-pro-regular";
  src: url("../fonts/myriadpro-regular.ttf");
  src: url("../fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/myriadpro-regular.woff2") format("woff2"),
    url("../fonts/myriadpro-regular.woff") format("woff"),
    url("../fonts/myriadpro-regular.ttf") format("truetype"),
    url("../fonts/myriadpro-regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
